<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB2b5sXAqM2OnQJSfZvOkCShpVu9KnwVpo</string>
	<key>GCM_SENDER_ID</key>
	<string>978598734716</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.locommerce</string>
	<key>PROJECT_ID</key>
	<string>locommerce-9ce9d</string>
	<key>STORAGE_BUCKET</key>
	<string>locommerce-9ce9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:978598734716:ios:55fddb03237fd229e052f9</string>
</dict>
</plist>